.root {
    -fx-font-family : "Arial";
}
.button {
    -fx-background-color : linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-border-radius : 80%;
    -fx-text-fill : white;
    -fx-font-size : 12;
    -fx-effect : dropshadow( three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1 );
}

.button:hover {
    -fx-background-color : linear-gradient(#328BDB 100%, #207BCF 75%, #1973C9 25%, #0A65BF 0%);
}

.list-view {
    -fx-border-color : midnightblue;
}

.list-cell {
    -fx-font-family : sans-serif;
    -fx-font-weight : bold;
    -fx-font-size : 14;
    -fx-text-fill : midnightblue;
}

.list-cell:filled:selected:focused {
    -fx-background-color : linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill : white;
}

.list-cell:filled:hover {
    -fx-background-color : #0093ff;
    -fx-text-fill : white;
}

#progressTxt {
    -fx-text-fill : midnightblue;
    -fx-font-size : 20;
    -fx-font-weight : bold;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
            from 0px .75em to .75em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
        );
}
